@model IEnumerable<SachOnline.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }' style="margin-top:150px">

            <!-- Product 1 -->
            
                <div class="product-item men" style="margin: 15px 25px">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <a href="@Url.Action("QuanKhuNamDong","ReadBook")"><img src="~/Image/nhasachmienphi-quan-khu-nam-dong.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                        </div>
                        <div class="favorite favorite_left"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                        <div class="product_info">
                            <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("QuanKhuNamDong","ReadBook")">Quân Khu Nam Đồng</a></h6>
                        </div>
                    </div>

                </div>
            <div class="product-item men" style="margin: 15px 25px">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a href="@Url.Action("ConHoang","ReadBook")"><img src="~/Image/nhasachmienphi-con-hoang.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                    <div class="product_info">
                        <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("ConHoang","ReadBook")">Con Hoang</a></h6>
                    </div>
                </div>

            </div>
            <div class="product-item men" style="margin: 15px 25px">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a href="@Url.Action("ChiecNgaiVang","ReadBook")"><img src="~/Image/nhasachmienphi-chiec-ngai-vang.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                    <div class="product_info">
                        <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("ChiecNgaiVang","ReadBook")">Chiếc ngai vàng</a></h6>
                    </div>
                </div>

            </div>
            <div class="product-item men" style="margin: 15px 25px">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a href="@Url.Action("TuoiThoDuDoi","ReadBook")"><img src="~/Image/TiengAnh01.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                    <div class="product_info">
                        <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("TuoiThoDuDoi","ReadBook")">Tuổi Thơ Dữ Dội</a></h6>
                    </div>
                </div>

            </div>
            <div class="product-item men" style="margin: 15px 25px">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a href="@Url.Action("CuocDoiNgoaiCua","ReadBook")"><img src="~/Image/nhasachmienphi-cuoc-doi-ngoai-cua.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                    <div class="product_info">
                        <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("CuocDoiNgoaiCua","ReadBook")">Cuộc Đời Ngoài Cửa</a></h6>
                    </div>
                </div>

            </div>
            <div class="product-item men" style="margin: 15px 25px">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <a href="@Url.Action("ChiEmKhacMe","ReadBook")"><img src="~/Image/TH002.jpg" alt="Thumbnail Image 1" style="height: 300px"></a>
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                    <div class="product_info">
                        <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("ChiEmKhacMe","ReadBook")">Chị Em Khác Mẹ</a></h6>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
